<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<div class="col"><%- include ('../partials/message') %></div>

<main>
    <div class="container">
        <table>
        <% if(resorts.length !== 0){ %>
            <% resorts.forEach(resort =>{ %>
                <tr>
                    <td> <%= resort.name %></td>
                    <td> <%= resort.location %></td>
                    <td> <%= resort.elevation %></td>
                </tr>
            <% }); %>
        <% } %>
    </table>
    </div>
</main>

<%- include ('../partials/footer') %>