<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<div class="col"><%- include ('../partials/message') %></div>

<main>
    <center><h1>Hello Everyone! Welcome to PowderPuff!</h1></center>
    <center>
        <h3>If you are planning to decide on which resort in Colorado you want to visit next, then you've come to the right place!</h5>
        <h5>You can scroll down and look at all the different resorts in Colorado by clicking the "Website" button and visit their offical website.</h5>
        <h5>You can also view the reviews that several other users like you have given for each resort by using the "Visit Informational Page" button</h5>
        <h5>You can make a new account on our website if you <a href = "register">Click here</a> or through the "Register" tab on the navigation bar.</h5>
        <h5>If you already have an account, you can login if you <a href = "login">Click here</a> or through the "Login" tab on the navigation bar.</h5>
        <h5> Once you login, you can add your own reviews to any of the resorts based on your experience and give a rating as well!</h5>
    </center>
    <div class="container">
        <div class="card-deck mt-3">
        <% if(resorts.length !== 0){ %>
            <% var i = 0 %>
            <% resorts.forEach(resort =>{ %>
                <% if (i % 3 === 0 || i + 1 === 1){ %>
                    <div class="row" >
                <%}%>
                <div class="col-sm-4 card">
                    <div class="card-block">
                        <img src="<%= resort.image %>" alt="Image" height="200" width="325">
                        <div class="container text-center">
                            <p></p>
                            <h5><b><%= resort.name %></b></h5>
                            <p>Location: <%= resort.location %></p>
                        </div>
                    </div>
                    <div class="card-footer">
                        <form method="post" action="/resort">
                            <input type = "hidden" name = "resort_id" value = "<%- resort.resort_id %>">
                            <button>Visit Informational Page</button>
                        </form>
                    </div>
                </div>
                  <% i = i + 1 %>
                  <% if (i % 3 === 0 || i === resorts.length){ %>
                    </div>
                    <p>------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
                    <%}%>
            <% }); %>
        <% } %>
    </div>
    </div>
</main>

<%- include ('../partials/footer') %>