<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<div class="col"><%- include ('../partials/message') %></div>

<main>
    <div class="container">
        <div class="card-deck mt-3">
        <% if(resorts.length !== 0){ %>
            <% var i = 0 %>
            <% resorts.forEach(resort =>{ %>
                <% if (i % 3 === 0 || i + 1 === 1){ %>
                    <div class="row" >
                <%}%>
                <div class="col-sm-4 card">
                    <div class="card-block">
                        <img src="<%= resort.image %>" alt="Image" height="200" width="325">
                        <div class="container">
                            <h4><b><%= resort.name %></b></h4>
                            <p>Location: <%= resort.location %></p>
                            <p>Base Elevation: <%= resort.elevation %></p>  
                            <p>Annual Snowfall: <%= resort.annual_snowfall %></p> 
                            <p>Terrain Parks: <%= resort.terrain_parks %></p>
                            <a class="link" href="<%= resort.website %>">Website</a>
                        </div>
                    </div>
                    <div class="card-footer">
                        <form method="post" action="/resort">
                            <input type = "hidden" name = "resort_id" value = "<%- resort.resort_id %>">
                            <button>Visit Informational Page</button>
                        </form>
                    </div>
                </div>
                  <% i = i + 1 %>
                  <% if (i % 3 === 0 || i === resorts.length){ %>
                    </div>
                    <p>------------------------------------------------------------------------------------------------------------------------------------------------------------</p>
                    <%}%>
            <% }); %>
        <% } %>
    </div>
    </div>
</main>

<%- include ('../partials/footer') %>