<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<div class="col"><%- include ('../partials/message') %></div>

<main>
    <div class="container">
        <h1>Welcome <%= data.first_name %>!</h1>
        <table>
            <tr>
                <td>First Name: </td>
                <td><%= data.first_name %></td>
            </tr>
            <tr>
                <td>Last Name: </td>
                <td><%= data.last_name %></td>
            </tr>
            <tr>
                <td>Username: </td>
                <td><%= data.username %></td>
            </tr>
            <tr>
                <td>Email: </td>
                <td><%= data.email %></td>
            </tr>
        </table>
    </div>
</main>

<%- include ('../partials/footer') %>