<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<div class="col"><%- include ('../partials/message') %></div>

<main>
    <div class="container">
        <h1><center>Welcome <%= data.first_name %>!</center></h1>
        <style>
            table {
              border-collapse: collapse;
              width: 100%;
            }
            
            th, td {
              padding: 20px;
              text-align: left;
              border-bottom: 1px solid #ddd;
            }
        </style>
        <table>
            <col style="width:50%">
	        <col style="width:50%">
            <tr>
                <th>First Name</th>
                <td><%= data.first_name %></td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td><%= data.last_name %></td>
            </tr>
            <tr>
                <th>Username</th>
                <td><%= data.username %></td>
            </tr>
            <tr>
                <th>Email</th>
                <td><%= data.email %></td>
            </tr>
        </table>
    </div>
</main>

<%- include ('../partials/footer') %>