<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<div class="col"><%- include ('../partials/message') %></div>

<main>
    <div class="container">
        <%= resort.name %>
    </div>
</main>

<%- include ('../partials/footer') %>