<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<div class="col"><%- include ('../partials/message') %></div>

<main>
    <div class="container">
        <ul class="list-group list-group-flush">
            <li class="list-group-item"> <img src="<%= resort.image %>" alt="Image" height="200" width="325"> </li>
            <li class="list-group-item">Resort Name: <%= resort.name %></li>
            <li class="list-group-item">Location: <%= resort.location %></li>
            <li class="list-group-item">Elevation: <%= resort.elevation %></li>
            <li class="list-group-item">Annual Snowfall: <%= resort.annual_snowfall %></li>
            <li class="list-group-item">Number of Terrain Parks: <%= resort.terrain_parks %></li>
            <li class="list-group-item"><a class="link" href="<%= resort.website %>">Website</a></li>
            <li class="list-group-item">
                
            </li>
          </ul>
    </div>
    <%- include ('../partials/modal') %>
</main>
