<%- include ('../partials/header') %>
<%- include ('../partials/menu') %>
<div class="col"><%- include ('../partials/message') %></div>

<main>
  <div style="position: relative; text-align: center; color: rgb(86, 86, 86);">
    <img src="<%= resort.image %>" alt="snowy-mountain" width="100%" height="350px" style="object-fit: cover;">
    <div class="centered" style="position: absolute; top: 25%; left: 50%; transform: translate(-50%, -50%); background-color: rgba(255, 255, 255, 0.8); padding-left: 15px; padding-right:15px">
        <h1><b><%= resort.name %></b></h1>
  </div>
    <div class="container">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Location: <%= resort.location %></li>
            <li class="list-group-item">Elevation: <%= resort.elevation %></li>
            <li class="list-group-item">Annual Snowfall: <%= resort.annual_snowfall %></li>
            <li class="list-group-item">Number of Terrain Parks: <%= resort.terrain_parks %></li>
            <li class="list-group-item"><a class="link" rel="noopener noreferrer" target="_blank" href="<%= resort.website %>">Visit their website</a></li>
            <li class="list-group-item">
                
            </li>
          </ul>
    </div>
    <%- include ('../partials/modal') %>
</main>

